@using AssetManagment.Application.Asset
@using AssetManagment.Core.Entities

@inject IAssetService assetService;
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    List<AssetInfo> list = ViewBag.AssetList;
    var cate = assetService.GetAssetCateGories();
    var status = assetService.GetAssetStatus();
    var region = assetService.GetRegions();
    var storages = assetService.GetAssetStorages();
    var departmentes = assetService.GetDepartmentes();
    var members = assetService.GetMembers();
    var sources = assetService.GetAssetSources();
    var pageIndex = 1;
    ViewData["Title"] = ViewBag.Description;
}

<div class="row flex-xl-nowrap">
    <aside class="card bd-sidebar col-md-3 col-xl-2  py-md-3 pl-md-5">
        <partial name="_AssetNavList.cshtml"></partial>
    </aside>
    <main class="bd-main col-md-9 col-xl-10 py-md-3 pl-md-5">
    <div class="control-panel card mb-3">
        <div class="card p-3">

            <!--row1 start-->
            <div class="row mb-3">
                <div class="col-auto">
                    <div class="input-group  flex-nowrap">
                        <label for="input1" class="col-form-label mx-3">编号</label>
                        <input type="text" id="input1" class="form-control"/>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group flex-nowrap">
                        <label for="input4" class="col-form-label mx-3">类别</label>
                        <select class="form-select" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < cate.Count; i++)
                            {
                                <option value="@cate[i].Id">@cate[i].Code @cate[i].Title</option>
                            }
                        </select>
                    </div>
                    
                </div>
                <div class="col-auto">
                    <div class="input-group flex-nowrap">
                         <label for="input2" class="col-form-label mx-3">名称</label>
                        <input type="text" id="input2" class="form-control"/>
                    </div>
                   
                </div>
                <div class="col-auto">
                    <div class="input-group flex-nowrap">
                        <label for="input3" class="col-form-label mx-3">规格</label>
                        <input type="text" id="input3" class="form-control"/>
                    </div>
                </div>
            </div>
            <!--row1 end-->

            <!--row2 start-->
            <div class="row mb-3">
                <div class="col-auto">
                    <div class="input-group  flex-nowrap">
                        <label for="input1" class="col-form-label mx-3">资产状况</label>
                        <select class="form-select" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < status.Count; i++)
                            {
                                <option value="@status[i].Id">@status[i].Code @status[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="input-group  flex-nowrap">
                        <label for="input1" class="col-form-label mx-3">地区</label>
                        <select class="form-select" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < region.Count; i++)
                            {
                                <option value="@region[i].Id">@region[i].Code @region[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="input-group  flex-nowrap">
                        <label for="input1" class="col-form-label mx-3">存放位置</label>
                        <select class="form-select" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < storages.Count; i++)
                            {
                                <option value="@storages[i].Id">@storages[i].Code @storages[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="input-group  flex-nowrap">
                        <label for="input1" class="col-form-label mx-3">使用部门</label>
                        <select class="form-select" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < departmentes.Count; i++)
                            {
                                <option value="@departmentes[i].Id">@departmentes[i].Code @departmentes[i].Title</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <!--row2 end-->

            <!--row3 start-->
            <div class="row mb-3">
                <div class=" col-auto">
                    <div class="input-group flex-nowrap">
                        <label for="" class="col-form-label mx-3">使用时间</label>
                        <input class="form-control" type="date"/>
                        <span class="col-form-label mx-2"> - </span>
                        <input class="form-control" type="date"/>
                    </div>
                </div>
            </div>
            <!--row3 end-->

            <!--button group start-->
            <div class="row flex-nowrap">
                <div class="col">
                    <button class="btn btn-primary btn-add" data-bs-toggle="modal" data-bs-target="#addAssetModel">新增</button>
                    <button class="btn btn-primary">查询</button>
                    <button class="btn btn-light">重置</button>
                </div>
            </div>
            <!--button group end-->
        </div>
    </div>
    <div class="table-asset-info-con autoflow-auto">
        <div class="card p-3">
            <table class="table table-striped">
           <thead id = "tablehead">
             
           </thead>
           <tbody id="tablebody">
               
           </tbody>
       </table>
      
        </div>
       
        
    </div>
</main>
</div>







<!--新增弹窗 start-->
<div class="modal fade" tabindex="-1" id="addAssetModel">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">资产资料</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="input-group  flex-nowrap">
                        <label class="col-form-label mx-3">编号</label>
                        <input type="text" class="form-control modal-number"/>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">类别</label>
                        <select class="form-select modal-category" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < cate.Count; i++)
                            {
                                <option value="@cate[i].Id">@cate[i].Code @cate[i].Title</option>
                            }
                        </select>
                    </div>
                    
                </div>
                <div class="col-md-6 mb-2">
                    <div class="input-group flex-nowrap">
                         <label class="col-form-label mx-3">名称</label>
                        <input type="text" class="form-control modal-name"/>
                    </div>
                   
                </div>
                <div class="col-md-6 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">规格</label>
                        <input type="text" class="form-control modal-spec"/>
                    </div>
                </div>

                <div class="col-md-3 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">计量单位</label>
                        <input type="text" class="form-control modal-unit"/>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">来源</label>
                        <select class="form-select modal-source" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < sources.Count; i++)
                            {
                                <option value="@sources[i].Id">@sources[i].Code @sources[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group  flex-nowrap">
                        <label class="col-form-label mx-3">资产状况</label>
                        <select class="form-select modal-state" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < status.Count; i++)
                            {
                                <option value="@status[i].Id">@status[i].Code @status[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group  flex-nowrap">
                        <label class="col-form-label mx-3">地区</label>
                        <select class="form-select modal-region" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < region.Count; i++)
                            {
                                <option value="@region[i].Id">@region[i].Code @region[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group  flex-nowrap">
                        <label class="col-form-label mx-3">存放位置</label>
                        <select class="form-select modal-storage" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < storages.Count; i++)
                            {
                                <option value="@storages[i].Id">@storages[i].Code @storages[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group  flex-nowrap">
                        <label class="col-form-label mx-3">使用部门</label>
                        <select class="form-select modal-department" style="min-width:120px;">
                            <option value="0">------------</option>
                            @for(var i = 0; i < departmentes.Count; i++)
                            {
                                <option value="@departmentes[i].Id">@departmentes[i].Code @departmentes[i].Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">使用人</label>
                        <select class="form-select modal-user" style="min-width:120px;">
                            <option value ="0">------------</option>
                            @for(var i = 0; i < members.Count; i++)
                                    {
                                        <option value="@members[i].Id">@members[i].Name</option>
                                    }
                                </select>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">增添时间</label>
                        <input type="date" class="form-control modal-add-time"/>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <label class="col-form-label mx-3">领用时间</label>
                        <input type="date" class="form-control modal-pickup-time"/>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="insertInfoBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div></div>
<!--新增弹窗 end-->

<script src="/assetinfo/js/index.js"></script>
<script src="/assetinfo/js/modal.js"></script>
